
<a href="index.html">
    <h1>더조은이태리하우스</h1>
</a>



<nav id="nav">
    <a href="login.html" v-if="!isLoggedIn">로그인</a>
    <a href="#" v-else @click="logout">로그아웃</a> |
    <a href="profile.html" v-if="isLoggedIn">프로필 수정</a>
    <a href="register.html" v-if="!isLoggedIn">회원가입</a> |
    <a href="menu.html" class="top-menu">메뉴</a> |
    
    
    <!-- <a href="reservation.html">예약하기</a> |
    <a href="cart.html">장바구니</a> |
    <a href="order.html">온라인 주문</a> |
    <a href="qa.html">Q&A</a> | -->
    
    <a href="javascript:void(0)" onclick="alert('준비중입니다');">예약하기</a> |
    <a href="javascript:void(0)" onclick="alert('준비중입니다');">장바구니</a> |
    <a href="javascript:void(0)" onclick="alert('준비중입니다');">온라인 주문</a> |
    <a href="javascript:void(0)" onclick="alert('준비중입니다');">Q&A</a> |

    
    <a href="index.html" class="home-button">홈으로</a>
    <a href="../MiniProject/admin/userlist.html" v-if="isAdmin">관리자페이지</a> <!-- 관리자 페이지 링크 조건부 표시 -->
</nav>