/* #app{
    width: 600px;
    margin : 20px auto;
}
table{
    width: 600px;
}
table, tr,td, th {
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
}

tr, td, th {
    padding: 5px 10px;
}
td input {
    width: 70px;
}
.txt {
    font-weight: bold;
}
.txt2 {
    color : blue;
    font-weight: bold;
}
select {
    margin : 0 10px;
    padding: 2px;
} 
.btn {
    margin-top : 5px;
    float: right;
}
input[type="radio"] {width: 20px;}
.op {
    margin: 10px;
} */